---
---

<div class="flex flex-wrap items-center gap-3">
	<svg
		width="72"
		height="40"
		viewBox="0 0 726.02 313"
		fill="none"
		class="fill-current text-primary-600 dark:text-secondary-400"
	>
		<defs>
			<clipPath id="clippath">
				<path fill="none" d="M0 0h726.02v313H0Z"></path>
			</clipPath>
		</defs>
		<g clip-path="url(#clippath)">
			<path
				d="M22.63,112.28H0v-46.28h24.33V0h57.59v66.01h37.02v46.28h-37.02v57.24c0,19.89,20.23,22.62,31.54,22.62,4.8,0,7.88-.34,7.88-.34v51.41c-5.34.72-10.72,1.07-16.11,1.03-28.11,0-82.6-7.54-82.6-66.84v-65.12Z"
			></path>
			<path
				d="M158.71,123.25c0-4.8-2.74-7.54-7.54-7.54h-13.03v-49.7h51.08c17.14,0,22.97,7.88,22.97,15.42v3.08h.69s15.42-22.63,52.79-22.63c47.99,0,79.52,37.71,79.52,92.55s-35.3,92.21-82.27,92.21c-28.79,0-44.9-15.08-44.9-15.08h-.68s.68,6.18.68,15.08v66.35h-59.31V123.25ZM250.92,197.64c18.51,0,34.62-15.08,34.62-42.16s-14.05-43.53-34.62-43.53c-17.82,0-34.62,13.03-34.62,43.53,0,21.25,11.31,42.16,34.62,42.16"
			></path>
			<path
				d="M462.07,61.89c24.68,0,65.13,9.6,65.13,41.48v24.34h-51.42v-9.26c0-5.49-6.51-7.54-13.71-7.54-25.02,0-40.11,18.85-40.11,42.51,0,30.17,22.62,42.16,44.56,42.16,25.37,0,48.68-22.96,48.68-22.96l23.66,39.76s-27.77,34.28-78.16,34.28c-63.07,0-98.38-43.88-98.38-92.55s32.9-92.21,99.75-92.21"
			></path>
			<path
				d="M649.23,61.89c24.68,0,65.13,9.6,65.13,41.48v24.34h-51.42v-9.26c0-5.49-6.51-7.54-13.71-7.54-25.02,0-40.11,18.85-40.11,42.51,0,30.17,22.62,42.16,44.56,42.16,25.37,0,48.68-22.96,48.68-22.96l23.65,39.76s-27.77,34.28-78.16,34.28c-63.07,0-98.38-43.88-98.38-92.55s32.9-92.21,99.75-92.21"
			></path>
			<path d="M99.63 0h626.39v48.39H99.63Z"></path>
			<path d="M237.69 264.61h488.33v48.39H237.69Z"></path>
			<path d="M22.62 264.61h115.51v48.39H22.62Z"></path>
		</g>
	</svg>

	<span
		class="hidden text-xl font-medium font-heading tracking-normal cursor-pointer lg:contents text-neutral-900 dark:text-neutral-50 whitespace-nowrap"
	>
		The Parallel Cinema Club
	</span>
</div>
