---
import { getPermalink } from '~/utils/permalinks';

const { tags, class: className = 'text-sm' } = Astro.props;
---

{
	tags && Array.isArray(tags) && (
		<ul class={className}>
			{tags.map((tag) => (
				<li class="text-sm font-mono bg-neutral-200 dark:bg-neutral-800 text-neutral-500 dark:text-neutral-400 inline-block mr-2 mb-2 py-0.5 px-2 rounded-md lowercase">
					<a href={getPermalink(tag, 'tag')}>{tag}</a>
				</li>
			))}
		</ul>
	)
}
